#container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#title {
    text-align: center;
    margin: 0px auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 8vh;
    width: 500px;
    margin-top: 100px;
    padding-bottom: 50px;
    color: black;
    text-shadow: 2px 2px grey;
}

#calcContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: grey;
    height: 60vh;
    width: 50vh;
    border-style: solid;
    border-color: black;
    margin: auto;

}

#display {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 15vh;
    width: 45vh;
    background-color: lightgray;
    margin: auto;
}

#buttons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 40vh;
    width: 45vh;
    background-color: lightgray;
    margin: auto;
    user-select: none;
}

#buttonsContainer {
    display: grid;
    grid-template-rows: repeat(5, 20%);
    grid-template-columns: repeat(4, 25%);
    height: 38vh;
    width: 43vh;
    background-color: white;
    margin: auto;
}

.button {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    border-style: solid;
    border-color: black;
    font-size: 2.5vh;
}
#sumDisplay {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    height: 4vh;
    width: 42vh;
    background-color: transparent;
    margin: auto;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;

}

#inputDisplay {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    height: 6vh;
    width: 42vh;
    background-color: transparent;
    margin: auto;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
}

#displayText {
    font-family: 'Courier New', Courier, monospace;
    font-size: 5vh;
    text-align: right;
    margin-right: 2%;
}

#sumText {
    font-family: 'Courier New', Courier, monospace;
    font-size: 3vh;
    text-align: right;
    margin-right: 2%;
    user-select: none;
    
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: grey; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
